## ArgoCD Helm Chart Values
## Reference: https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd

global:
  domain: argocd.example.com

server:
  extraArgs:
    - --insecure  # Remove this when you configure TLS

configs:
  params:
    server.insecure: true  # Remove this when you configure TLS
