## ArgoCD Helm Chart Values
## Reference: https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd

global:
  domain: argocd.dthackray.com

server:
  extraArgs:
    - --insecure  # TLS termination happens at Traefik

  # Ingress configuration
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      # Enable Authentik ForwardAuth middleware
      traefik.ingress.kubernetes.io/router.middlewares: default-authentik@kubernetescrd
    hostname: argocd.dthackray.com
    tls: true
    extraTls:
      - hosts:
          - argocd.dthackray.com
        secretName: argocd-tls

configs:
  params:
    server.insecure: true  # TLS termination happens at Traefik
